# By default, 'vite' (dev command) runs in development mode
# Only VITE_ variables will be exposed

VITE_TITLE=Morphobank V4 (development mode)
VITE_API_URL=http://{domain}/services
VITE_MATRIX_EDITOR_HOST=http://{domain}/editor