// custom variables MUST be override before import
$primary: #900;
$enable-shadows: true;
$warning: #F17B17;
// Default variable overrides
$body-bg: #000;
$body-color: #111;

@import '../../../node_modules/bootstrap/scss/bootstrap';
